<div class="page-header has-tab">
    <h2 class="font-weight-normal">Buildings</h2>
</div>
<nz-tabset class="page-header-tab">
  <nz-tab nzTitle="List Of Buildings">
    <nz-card *ngFor="let building of buildings">
      <nz-skeleton [nzLoading]="loadingBuildings" [nzActive]="loadingBuildings">
        <div class="row">
          <div class="col-md-4">
            <img class="img-fluid" [src]="getDefaultOrFirstImage(building.images,'building')" [alt]="building.label" style="width: 400px; height: 220px; object-fit: cover;">
          </div>
          <div class="col-md-8">
            <h4 class="m-b-10">{{building.label}}</h4>
            <div class="m-b-15">
              <div class="d-flex align-items-center">
                <div class="d-flex align-items-center">
                  <nz-avatar nzSize="small" [nzSrc]="getDefaultOrFirstImage([],'user')"></nz-avatar>
                  <div class="m-l-10">
                    <span class="text-gray font-weight-semibold">{{building.residence.owner.firstName}} {{building.residence.owner.lastName}}</span>
                  </div>
                </div>
                <div class="text-gray">
                  <nz-divider nzType="vertical"></nz-divider>
                  <span>{{building.residence.label}}</span>
                </div>
              </div>
            </div>
            <p class="lh-1-8 m-b-20">
              <span>{{building.description}}</span>
            </p>
            <p class="lh-1-8 m-b-20">
              <nz-tag [nzColor]="'#87d068'">Location : {{building.residence.location}}</nz-tag>
              <nz-tag [nzColor]="'#87d068'">Number of floors :{{building.numberFloors}}</nz-tag>
            </p>
            <div class="text-right">
              <a class="font-weight-semibold" nz-button nzType="link" (click)="expandModal(building)">Expand</a>
            </div>
          </div>
        </div>
      </nz-skeleton>
    </nz-card>
  </nz-tab>
  <nz-tab nzTitle="Advanced">
        <div class="container">
            <nz-card nzTitle="Add new building">
                <form nz-form [formGroup]="addBuildingForm" (ngSubmit)="submitForm()">
                    <div class="row">
                        <div class="col-md-6">
                            <nz-form-item>
                                <nz-form-label nzFor="label">Label</nz-form-label>
                                <nz-form-control nzErrorTip="Please input residence label!">
                                    <input formControlName="label" nz-input type="text" placeholder="Label">
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        <div class="col-md-6">
                          <nz-form-item>
                            <nz-form-label nzFor="residenceLabel">Residence</nz-form-label>
                            <nz-form-control nzErrorTip="Please choose residence label!">
                              <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select a city" formControlName="residenceLabel">
                                <nz-option  *ngFor="let residence of residences"
                                            [nzLabel]="residence.label"
                                            [nzValue]="residence.label"
                                ></nz-option>
                              </nz-select>
                            </nz-form-control>
                          </nz-form-item>
                        </div>
                        <div class="col-md-12">
                            <nz-form-item>
                                <nz-form-label nzFor="description">Description</nz-form-label>
                                <nz-form-control nzErrorTip="Please input residence description!">
                                    <input formControlName="description" nz-input type="text" placeholder="Description">
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        <div class="col-md-6">
                          <nz-form-item>
                            <nz-form-label nzFor="numberFloors">Number Of Floors</nz-form-label>
                            <nz-form-control nzErrorTip="Please input building floors!">
                              <input formControlName="numberFloors" nz-input type="number" placeholder="Number of Floors">
                            </nz-form-control>
                          </nz-form-item>
                        </div>
                        <div class="col-md-6">
                          <nz-form-item>
                            <nz-form-control>
                              <button  nz-button nzType="primary" nzBlock [disabled]="!addBuildingForm.valid">Submit</button>
                            </nz-form-control>
                          </nz-form-item>
                        </div>
                        <div class="col-md-12 m-t-10">
                          <agm-map
                            [latitude]="addMapLat != null ? addMapLat : 0"
                            [longitude]="addMapLng != null ? addMapLng : 0"
                            style="height: 400px;">
                            <agm-marker
                              *ngIf="addMapLat && addMapLng"
                              [latitude]="addMapLat"
                              [longitude]="addMapLng"
                            ></agm-marker>
                          </agm-map>
                        </div>
                    </div>
                </form>
            </nz-card>
        </div>
    </nz-tab>
</nz-tabset>
<nz-modal [(nzVisible)]="isModalVisible" [nzWidth]="1000" nzTitle="More details on residence" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
    <ng-container *nzModalContent>
        <div>
          <nz-divider style="font-size: x-large" nzText="Image Uploader"></nz-divider>
          <form>
            <nz-form-item>
              <nz-form-label nzFor="imageUpload"
                             class="ant-btn text-uppercase d-flex justify-content-center align-items-center"
                             style="width: 100%; background-color: #59ffd6"
              > Upload Image </nz-form-label>
              <nz-form-control hidden="hidden" nzErrorTip="Please input residence description!">
                <input id="imageUpload" type="file" (change)="handleChange($event)" >
              </nz-form-control>
            </nz-form-item>
          </form>
        </div>
        <div class="m-t-10">
          <nz-divider style="font-size: x-large" nzText="Residence Image"></nz-divider>
          <nz-carousel [nzEffect]="'scrollx'" nzAutoPlay>
            <div nz-carousel-content *ngFor="let image of buildingToShow.images">
              <img class="img-fluid"
                   [src]="image.url"
                   [alt]="buildingToShow.label"
                   style="height: 300px; object-fit: cover; width: 100%;"
              >
            </div>
          </nz-carousel>
        </div>
        <div class="m-t-10">
          <nz-divider style="font-size: x-large" nzText="Residence Location"></nz-divider>
          <agm-map [latitude]="buildingToShow.residence.latitude" [longitude]="buildingToShow.residence.longitude" style="height: 400px;">
            <agm-marker [latitude]="buildingToShow.residence.latitude" [longitude]="buildingToShow.residence.longitude"></agm-marker>
          </agm-map>
        </div>
    </ng-container>
</nz-modal>
