<nz-layout>
  <nz-header class="d-flex" style="background-color: #223143;">
    <div class="logo">
      <img src="assets/images/logo/logo-white.png" alt="Logo">
    </div>
    <ul class="m-l-40" nz-menu nzTheme="dark" nzMode="horizontal">
      <li nz-menu-item>Home</li>
      <li nz-menu-item>Pricing</li>
      <li nz-menu-item>Contact us</li>
    </ul>
  </nz-header>
  <nz-content>
    <div>
      <section class="carousel-banner">
        <nz-carousel [nzDotPosition]="dotPosition" nzAutoPlay>
          <div nz-carousel-content style="height: 280px; width: 100%; background: url('assets/images/welcome-carousel/banner1.png')" ></div>
          <div nz-carousel-content style="height: 280px; width: 100%; background: url('assets/images/welcome-carousel/banner-2.png')" ></div>
          <div nz-carousel-content style="height: 280px; width: 100%; background: url('assets/images/welcome-carousel/banner-3.png')" ></div>
        </nz-carousel>
      </section>
      <section class="inner-content">
        <div class="container">
          <div class="text-center m-t-30 m-b-40">
            <h2>Our Partner Owners</h2>
            <p class="w-45 m-h-auto m-b-30">People who are using our saas platform to mange there properties and residences.</p>

            <div class="row" >
              <div class="col-md-3" *ngFor="let item of memberList">
                <nz-card>
                  <div class="m-t-20 text-center">
                    <nz-avatar class="shadow" [nzSize]="100" nzIcon="user" [nzSrc]="item.img"></nz-avatar>
                    <h4 class="m-t-30">{{item.name}}</h4>
                    <p>{{item.mail}}</p>
                  </div>
                  <div class="text-center m-t-15">
                    <button class="m-r-10" nz-button nzType="default" nzShape="circle"><i nz-icon nzType="facebook"></i></button>
                    <button class="m-r-10" nz-button nzType="default" nzShape="circle"><i nz-icon nzType="twitter"></i></button>
                    <button class="m-r-10" nz-button nzType="default" nzShape="circle"><i nz-icon nzType="instagram"></i></button>
                  </div>
                  <div class="text-center m-t-30">
                    <a [routerLink]="['/pages/profile']" nz-button nzType="primary" nzGhost>
                      <i nz-icon nzType="whats-app" theme="outline"></i>
                      <span class="m-l-5">Contact</span>
                    </a>
                  </div>
                </nz-card>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="brand-section" >
        <div class="p-t-50 p-b-50">
          <img
            *ngFor="let brand of brandList"
            class="img-fluid"
            [src]="brand.img"
          >
        </div>
      </section>
      <section style="padding: 30px 50px;" >
        <div class="container">
          <h2 style="color: #666666">Look For Your wanted property now !</h2>
          <form class="m-t-20" nz-form [formGroup]="searchFormGroup" (ngSubmit)="searchForProperties()">
            <div class="row">
              <div class="col-md-4">
                <nz-form-item>
                  <nz-form-label nzFor="location">City</nz-form-label>
                  <nz-form-control nzErrorTip="Please input residence location!">
                    <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select a city" formControlName="location">
                      <nz-option nzLabel="all" nzValue="all"></nz-option>
                      <nz-option *ngFor="let city of moroccanCities" [nzLabel]="city" [nzValue]="city"></nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div class="col-md-4">
                <nz-form-item>
                  <nz-form-label nzFor="propertyType">Property Type</nz-form-label>
                  <nz-form-control nzErrorTip="Please choose property type!">
                    <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select a type" formControlName="propertyType">
                      <nz-option nzLabel="all" nzValue="all"></nz-option>
                      <nz-option  *ngFor="let property of PropertyTypes"
                                  [nzLabel]="property.toString()"
                                  [nzValue]="property.toString()"
                      ></nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div class="col-md-4" >
                <nz-form-item>
                  <nz-form-control >
                    <button nz-button nzType="primary" nzSize="large" nzBlock >Search</button>
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>
          </form>
          <div>
            <nz-card *ngFor="let property of properties">
              <nz-skeleton [nzLoading]="loadingProperties" [nzActive]="loadingProperties">
                <div class="row">
                  <div class="col-md-4">
                    <img class="img-fluid" [src]="property.images[0].url" [alt]="property.label" style="width: 400px; height: 220px; object-fit: cover;">
                  </div>
                  <div class="col-md-8">
                    <h4 class="m-b-10">{{property.label}}</h4>
                    <div class="m-b-15">
                      <div class="d-flex align-items-center">
                        <div class="d-flex align-items-center">
                          <nz-avatar nzSize="small" [nzSrc]="getDefaultOrFirstImage([],'user')"></nz-avatar>
                          <div class="m-l-10">
                            <span class="text-gray font-weight-semibold">{{property.building.residence.owner.firstName}} {{property.building.residence.owner.lastName}}</span>
                          </div>
                        </div>
                        <div class="text-gray">
                          <nz-divider nzType="vertical"></nz-divider>
                          <span>{{property.building.residence.label}}</span>
                        </div>
                      </div>
                    </div>
                    <p class="lh-1-8 m-b-20">
                      <span>{{property.description}}</span>
                    </p>
                    <p class="lh-1-8 m-b-20">
                      <nz-tag [nzColor]="'#87d068'">
                        <span class="text-uppercase font-weight-bold">Location :</span> {{property.building.residence.location}}
                      </nz-tag>
                      <nz-tag [nzColor]="'#87d068'">
                        <span class="text-uppercase font-weight-bold">Type :</span> {{property.propertyType.toLowerCase()}}
                      </nz-tag>
                      <nz-tag [nzColor]="'#87d068'">
                        <span class="text-uppercase font-weight-bold">Building :</span>{{property.building.label}}
                      </nz-tag>
                    </p>
                    <p class="lh-1-8 m-b-20">
                      <nz-tag [nzColor]="'cyan'" *ngIf="property.floorNumber != null">
                        <span class="text-uppercase font-weight-bold">Floor number : </span>{{property.floorNumber}}
                      </nz-tag>
                      <nz-tag [nzColor]="'cyan'" *ngIf="property.numberRooms != null && property.numberBedrooms">
                        <span class="text-uppercase font-weight-bold">Total rooms : </span>{{property.numberBedrooms + property.numberRooms}}
                      </nz-tag>
                      <nz-tag [nzColor]="'cyan'" *ngIf="property.numberBathrooms != null">
                        <span class="text-uppercase font-weight-bold">Bathrooms : </span>{{property.numberBathrooms}}
                      </nz-tag>
                      <nz-tag [nzColor]="'cyan'" *ngIf="property.numberWindows != null">
                        <span class="text-uppercase font-weight-bold">Windows : </span>{{property.numberWindows}}
                      </nz-tag>
                    </p>
                    <p class="lh-1-8 m-b-20">
                      <nz-tag [nzColor]="'orange'">
                        <span class="text-uppercase font-weight-bold">Surface : </span>{{property.surface}}
                      </nz-tag>
                      <nz-tag [nzColor]="'gold'">
                        <span class="text-uppercase font-weight-bold">Rent Value :</span>{{property.rentValue}} $
                      </nz-tag>
                    </p>
                    <div class="text-right">
                      <a class="font-weight-semibold" nz-button nzType="link" (click)="expandModal(property)">Expand</a>
                    </div>
                  </div>
                </div>
              </nz-skeleton>
            </nz-card>
          </div>
          <ng-template #nodata>
            <div class="text-center m-t-30">
              <img src="assets/images/error/no-data.png" alt="no data">
            </div>
          </ng-template>
        </div>
      </section>

      <nz-modal [(nzVisible)]="isModalVisible" [nzWidth]="1000" nzTitle="More details on Property" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
        <ng-container *nzModalContent>
          <div class="m-t-10">
            <nz-divider style="font-size: x-large" nzText="Property Images"></nz-divider>
            <nz-carousel [nzEffect]="'scrollx'" nzAutoPlay>
              <div nz-carousel-content *ngFor="let image of propertyToShow.images">
                <img class="img-fluid"
                     [src]="image.url"
                     [alt]="propertyToShow.label"
                     style="height: 300px; object-fit: cover; width: 100%;"
                >
              </div>
            </nz-carousel>
          </div>
          <div class="m-t-10">
            <nz-divider style="font-size: x-large" nzText="Building & Residence Images"></nz-divider>
            <nz-carousel [nzEffect]="'scrollx'" nzAutoPlay>
              <div nz-carousel-content *ngFor="let image of propertyToShow.building.images.concat(propertyToShow.building.residence.images)">
                <img class="img-fluid"
                     [src]="image.url"
                     [alt]="propertyToShow.label"
                     style="height: 300px; object-fit: cover; width: 100%;"
                >
              </div>
            </nz-carousel>
          </div>
          <div class="m-t-10">
            <nz-divider style="font-size: x-large" nzText="Residence Location"></nz-divider>
            <agm-map [latitude]="propertyToShow.building.residence.latitude" [longitude]="propertyToShow.building.residence.longitude" style="height: 400px;">
              <agm-marker [latitude]="propertyToShow.building.residence.latitude" [longitude]="propertyToShow.building.residence.longitude"></agm-marker>
            </agm-map>
          </div>
        </ng-container>
      </nz-modal>

    </div>
  </nz-content>
  <nz-footer class="text-center text-white p-t-25 p-b-25" style="background-color: #223143;">Resitech using Ant Designe ©2024 Implement By Angular</nz-footer>
</nz-layout>
